@mixin cursive($size){
	font-family: 'Rochester', cursive;
	font-size: $size;
}

@mixin main-font($size){
	font-family: 'Raleway', sans-serif;
	font-size: $size;
}
body{
	font-family: 'Raleway', sans-serif;
}
.row{
	margin-left: 0;
	margin-right: 0;
}